{% extends "JtcDefaultBundle::layout.html.twig" %}

{% block content %}
    <div class="container">
        {% include "FOSUserBundle:Resetting:request_content.html.twig" %}
    </div>
{% endblock content %}
