body{color:#003A5F;}

.error{color:red;}
.blue                   { background: #3c5a98; }
.blue:hover		{ background: #4c6aa8; }
.darkpink		{ background: #c4376b; }
.darkpink:hover		{ background: #d4477b; }
.fontblue               { color: #3c5a98 !important; font-size: 25px; font-weight: bold}
.fontdarkpink		{ color: #c4376b !important; font-size: 25px; font-weight: bold}
.big                    {font-size: 25px; font-weight: bold}
.listVoyageur               {font-size: 25px; font-weight: bold; color: grey}
.listExpediteur             {font-size: 25px; font-weight: bold; color : green}

.navbar-brand img{height:100px;width:130px;}
.navbar-nav{margin: 80px 0 0;}
.navbar-nav > li{margin: 0 10px;}
.navbar-default .navbar-nav > li > a{color:#003A5F;}
.navbar .navbar-nav>.active>a {background-color: #A6CE39;border-radius: 5px 5px 0px 0px;color:#003A5F;}

.nav-ajouter{background: url('../images/icons/ajouter.png') no-repeat left 50%;padding-left: 30px !important;}
.nav-voyageur{background: url('../images/icons/voyageur.png') no-repeat left 50%;padding-left: 30px !important;}
.nav-expediteur{background: url('../images/icons/expediteur.png') no-repeat left 50%;padding-left: 40px !important;}
.nav-document{background: no-repeat left 50%; color : red !important;}

.list{margin-bottom: 50px;}
.list h2{background:#003A5F;color:#A6CE39;border-radius: 4px;padding: 5px; font-size:20px;}
.list .table{width:auto;}
.list .icon{padding-top: 40px;text-align: left;}
.list .date {background: url('../images/icons/date.png') no-repeat 5px top}
.list .depart {width:300px;background: url('../images/icons/depart.png') no-repeat 5px top}
.list .arrive {width:300px;background: url('../images/icons/arrive.png') no-repeat 5px top}
.list .infos {width:300px;background: url('../images/icons/ajouter.png') no-repeat 5px top}
.list .voyageur{width:48px;height:32px;background: url('../images/icons/voyageur.png') no-repeat 50% 50%}
.list .expediteur{width:48px;height:32px;background: url('../images/icons/expediteur.png') no-repeat 50% 50%}
.list .link:hover{cursor:pointer;}

.prez {font-size: 13px;font-style: italic; color: #777;}
.rzcolis {border: 1px solid #ccc;padding: 10px;border-radius: 10px; margin-top: 15px;}
.prez-image {min-width: 300px; margin-bottom: 50px; height: 200px; width:50%; float:left}
.case {width:100%}
.centrage {}
.form-pres {
    width: 400px;
    padding: 20px;
    text-align: center;
    border: #f5f5f5 1px solid;
    height: 400px; 
    width: 300px
}

button, input, select[multiple], textarea {
    background-image: none;
    width: 100%;
}

.fieldset-faq {
    padding: 0.35em 0.625em 0.75em;
    margin: 0 2px;
    border: 1px solid #c0c0c0;
    margin-bottom: 30px;
    text-align: center;
}

.legend-faq {
    color: #6CAC23;
    font-style: normal;
    font-weight: 400;
    display: block;
    font-size: 22px;
    line-height: inherit;
    margin-bottom: 0px;
    padding: 0;
    border-width: 0;
}

.fieldset-propos {
    margin-top: 30px;
    padding-left: 20%;
}