{% extends "JtcDefaultBundle::layout.html.twig" %}

{% block content %}

<div class="container">
    <h1>{{ 'jtc.documents.title'|trans }}</h1>
    <p>
        {{ 'jtc.documents.content'|trans }}
    </p>
    <form role="form" method="POST">
     <button class="btn btn-success" type="submit">Télécharger</button>
    </form>   
{% endblock %}