{% block content %}
    <section class="major">
        <h2> {{titre}}</h2>
    </section>
      
    <section id="intro">
        <section class="box">
            <div class="6u">
                Expéditeur  :   {{email}}
                Message     :   {{contenu}}
            </div>
        </section>
    </section>
  
{% endblock %}