    <a href="#">
            <span class="big">{{ annonce.dateDepart|date('d/m/Y') }} </span>
            - Départ : <span class="fontblue"> {{ annonce.villeDepart }} </span>
            / Arrivé : <span class="fontdarkpink"> {{ annonce.villeArrive }} </span>
            - Description : {{ annonce.description }}
    </a>