{% extends "JtcDefaultBundle::layout.html.twig" %}

{% block content %}

<div class="container">
    {% include 'JtcAnnonceBundle:Default:listeAnnonces.html.twig' with {'title':'jtc.mes_annonce.title', 'annonces': annonces} %}
</div>

{% endblock %}