{% extends "JtcDefaultBundle::layout.html.twig" %}

    {% block content %}
<div class="container" style="max-width: 950px;background-color: #fff;height:850px;padding: 0 90px;">
    <fieldset class="fieldset-propos">
        <legend>Le concept</legend>
        Zecolis se présente comme un intermédiaire dans l’envoi de colis entre particuliers 
        à savoir des voyageurs et des expéditeurs du monde entier. 
    </fieldset>

    <fieldset class="fieldset-propos">
        <legend>Qui est voyageur/expéditeur?</legend>
        Le voyageur est toute personne ayant son billet de transport et partant d'une ville de départ à une ville d’arrivée. Il dispose d’un peu d’espace disponible dans ses bagages. Le voyageur décrit dans une annonce les informations sur son billet de transport, sur l’espace disponible dans ses bagages et propose une offre de prix à payer pour utiliser ses kilos.
        <br/><br/>
        L’expéditeur est toute personne désireuse d’envoyer un objet de nature précise dans une ville. Il décrit dans son annonce le prix auquel il est prêt à payer pour l’envoi.
        <br/><br/>
        Si une des parties est intéressée par une annonce, il contacte l’autre partie afin de s’accorder sur les détails. Zecolis n’intervient à aucun moment dans les différents échanges opérés entre les différentes parties.

    </fieldset>

    <fieldset class="fieldset-propos">
        <legend>D’où est venu l’idée du Zecolis</legend>
        Tout a commencé au printemps 2012 quand trois jeunes amis d’origine Béninoises diplômés en Informatique se réunissaient régulièrement dans l’objectif de trouver une orientation à leur volonté d’entreprendre.
        <br/><br/>
        Un jour, Fabrice décide d’envoyer urgemment un colis à destination du Benin. Il contacte Jean pour l’aider à trouver une solution. La solution a été de se rendre directement à l’aéroport et de contacter une personne à charge de trouver un voyageur à destination du Bénin, moyennant un geste de remerciement. Quelques heures après le vol, le colis est arrivé a destination.
    </fieldset>

    <fieldset class="fieldset-propos">
        <legend>Comment trouver un voyageur ou un expéditeur?</legend>
        Tout a commencé au printemps 2012 quand trois jeunes amis d’origine Béninoise diplômés en Informatique se réunissaient régulièrement dans l’objectif de trouver une orientation à leur volonté d’entreprendre.
        <br/><br/>
        Un jour, Fabrice décide d’envoyer urgemment un colis à destination du Benin. Il contacte Jean pour l’aider à trouver une solution. La solution a été de se rendre directement à l’aéroport et de contacter une personne à charge de trouver un voyageur à destination du Bénin, moyennant un geste de remerciement. Quelques heures après le vol, le colis est arrivé a destination.
        <br/><br/>
        Zecolis est né de l’expérience de Fabrice. Ensemble avec Jean ils décidèrent de créer un site d’envoi de colis de particuliers à particuliers.

    </fieldset>


    <fieldset class="fieldset-propos">
        <legend>La volonté de Zecolis</legend>
        Zecolis a pour volonté: 
        <ul>
            <li> 1. D’éviter de payer des services de transport a des prix onéreux </li>

            <li> 2. De faciliter la recherche d’un voyageur pour un expéditeur </li>

            <li> 3. De permettre à un voyageur de pouvoir négocier ses kilos disponibles et de même pour un expéditeur à pouvoir négocier son cout d’envoi</li>
        </ul>

    </fieldset>

    <fieldset class="fieldset-propos">
        <legend>Valeurs fondamentales</legend>
        Zecolis n’aurait jamais été créé si nous n’avions pas une passion pour ce que nous faisons. Au jour le jour nous essayons de traduire les valeurs fondamentales qui nous rassemblent :
        <ul>
            <br/>
            <li>1.	L’esprit de gratuité
                Nous n’aimons pas l’idée de dépenser cher pour des produits ou des services surtout lorsque nous n’en ressentons pas le bénéfice à la hauteur du prix. Nous avons rendu le site gratuit pour tous les services de bases.</li>
            <br/>
            <li>2.	Un envoi rapide vers n’importe quelle partie du monde
                D’un constat général, il y a des pays qui sont moins desservis que d’autres. Par conséquent les courriers et colis à destination de ces pays n’arrivent pas à destination ou alors mettent un temps important à arriver. Nous avons voulu mettre un terme à cette marginalisation ainsi qu’à tout sentiment de frustration.</li>
            <br/>
            <li>3.	Sauvons un peu plus la planète
                Il en coute beaucoup d’énergie dépensé par les sociétés de transports pour envoyer courrier et colis. Alors qu’un peu d’espace partagé dans les bagages pourrait permettre d’économiser un peu d’énergie. Ce geste écologique n’est pas sans conséquence sur la planète.</li>
        </ul>
    </fieldset>

    <fieldset class="fieldset-propos">
        <legend>L’équipe</legend>
        Zecolis est composé de jeunes internationaux dynamiques dotés de divers talents. Malgré les distances géographiques qui séparent les 
        membres de l’équipe, nous cultivons notre ambition de voir réussir ce projet commun. Notre culture de résultat nous entraine à nous impliquer personnellement dans ce que nous faisons.
        <br/><br/>
        Nous chérissons toujours notre enthousiasme et notre flexibilité de start-up  et notre esprit d’entreprise est le fondement de notre société.
        <br/><br/>
        Si vous avez des suggestions ou des idées, n’hésitez pas à nous contacter ! Il vous suffit de nous envoyer un email à : <a>contact@zecolis.com</a>
        <br/><br/>
        Nous vous répondrons dans les plus brefs délais. Merci de votre soutien.
    </fieldset>
    <div/>        
    {% endblock %}