{% extends "JtcDefaultBundle::layout.html.twig" %}

    {% block content %}
    <div class="container" style="max-width: 950px;background-color: #fff;height:850px;padding: 0 90px;">
        <fieldset class="fieldset-faq">
            <legend class="legend-faq">Débuter sur Zecolis</legend>
                <span style="font-weight: bold"> Zecolis </span> met en relation des voyageurs et expéditeurs 
                de <span style="font-weight: bold"> colis </span> intéressés par 
                <span style="font-weight: bold"> le même trajet</span>.
        </fieldset>

        <fieldset class="fieldset-faq">
            <legend class="legend-faq">Comment ça marche?</legend>
                C’est très simple !
                Les voyageurs proposent le nombre de kilos disponibles dans leurs valises 
                et les expéditeurs désireux d'envoyer des colis sur le même trajet peuvent 
                les contacter pour faire affaire. L'inscription sur le site est rapide et gratuite. 
        </fieldset>

        <fieldset class="fieldset-faq">
            <legend class="legend-faq">Economique, écologique et rapide</legend>
                Le service peut être gratuit ou rémunéré, libre aux voyageurs et expéditeurs d'en convenir entre eux.
                De plus dans un monde où nous voulons limiter la pollution notons que le transport du colis ne nécessite pas un voyage particulier, 
                il profite d'un voyage déja existant. Le colis ne mettra que le temps du voyage pour arriver à destination.              
        </fieldset>
            
        <fieldset class="fieldset-faq">
            <legend class="legend-faq">Comment trouver un voyageur ou un expéditeur?</legend>
               Tout simplement en cliquant sur l'onglet "les voyageurs" , vous aurez accès à un formulaire de recherche afin d'affiner votre recherche
               ainsi qu'à une liste des voyageurs correspondant à vos besoins.
               Trouver un expéditeur suit le meme principe, en cliquant sur l'onglet "les expéditeurs" , vous aurez accès à un formulaire de recherche afin d'affiner votre recherche
               ainsi qu'à une liste des expéditeurs correspondant à vos besoins.
        </fieldset>
            
            
        <fieldset class="fieldset-faq">
            <legend class="legend-faq">Quel genre de colis peut-on envoyer?</legend>
                Cette réponse changera dans le temps mais aujourd'hui les colis que l'on peut envoyer sont  : les documents et les vêtements
        </fieldset>
            
        <fieldset class="fieldset-faq">
            <legend class="legend-faq">Comment s'assurer que le voyageur ne disparaîtra pas avec le colis ?</legend>
                Un des points importants du site, aujourd'hui les mesures qui sont proposées se trouve dans l'onglet "Document", 
                il s'agit de documents que nous vous invitons à remplir à chaque transaction.
                Une attestation de remise et une attestation de livraison, l'occasion de vérifier l'identité des deux parties.
                <br/><span class="alert-warning"> Toujours vérifier le billet du voyageur afin d'être sûr de la date , 
                    des horaires et autres informations. </span>
                <br/><span class="alert-warning"> Toujours réclamer une piece d'identité (celle des deux parties ) 
                    avant d'aller plus loin. </span>
        </fieldset>
            
        <fieldset class="fieldset-faq">
            <legend class="legend-faq">Comment s'assurer que le produit n'est pas dangereux?</legend>
                 Si nous limitons le choix des colis tranportables pour le moment c'est pour faciliter la vérification du contenu, 
                 nous ne le répéterons jamais assez, assurez-vous  du contenu du colis avant de le prendre
                 n'hesitez pas à refuser si vous avez un doute sur le contenu du colis 
                 ou au sujet du voyageur.
                 <br/><span class="alert-warning"> Remplissez les documents fournis dans l'onglet "Document" </span>
        </fieldset>
                        
        <fieldset class="fieldset-faq">
            <legend class="legend-faq">Comment récupère t'ont le colis envoyé</legend>
                 Lors de l'échange de colis nous vous conseillons de prendre le(s) contact(s) du voyageur dans le pays de destination ,
                 contact que vous transmettrez au destinataire, afin que ce dernier puisse gérer la réception avec le voyageur à leur guise.
        </fieldset>
    <div/>        
    {% endblock %}