<form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit">
    {{ form_widget(form) }}
    <div class="form-group">
        <button class="btn btn-default" type="submit" id="submit" name="submit">{{ 'profile.edit.submit'|trans }}</button>
    </div>
</form>
